* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

svg {
	outline: 1px solid #b4c5e4;
}

rect {
	fill: #db5461;
}
rect:hover {
	opacity: 0.4;
}

.tooltip {
	position: absolute;
	height: 40px;
	width: 130px;
	margin: 0;
	padding: 0;
	background-color: #fbf4fd;
	outline: 1px solid #b4c5e4;
	color: #3d5467;
	display: none;
	text-align: center;
}
